<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serviceName" value="SvishtovHighSchool.Integration.Receiver" />
    <add key="serviceDisplayName" value="SvishtovHighSchool.Integration.Receiver" />
    <add key="serviceDescription" value="SvishtovHighSchool.Integration.Receiver" />
    <add key="version" value="1.0.0" />
  </appSettings>
</configuration>
